<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board :)</title>
        <link rel="icon" type="image/x-icon" href="./favicon.ico">
        <script
            defer
            src="./js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="main">
            <div id="backgroundmain"></div>
            <!-- v-bind is used for attributes like class, src, href, alt -->
            <h1 v-bind:class="headingClass" id="header">{{ heading }}</h1>
            <form v-on:submit="handleSubmit" id="uploader-div">
                <div>
                    <span>Title: </span><input v-model="filename">
                </div>
                <div>
                    <span>Description: </span><input v-model="description">
                </div>
                <div>
                    <span>Username: </span><input v-model="username">
                </div>
                <div>
                    <span>Upload here:</span><input type="file" name="filee" accept="image/*" v-on:change="handleFileChange">
                </div>
                <button>Submit</button>
            </form>
            <ul>
                <li v-for="i in images" v-on:click="() => handleClickOnImage(i)" class="image">
                    <img v-bind:src="i.url" v-bind:alt="i.title" v-bind:id="i.id">
                    <h2 id="description">{{i.title}}</h2>
                </li>
            </ul>
            
            <!-- part 3 -->
            <image-comp 
                v-if="showModal"
                v-bind:imageid="imageId"
                v-bind:imageobj="saved"
                v-bind:savedtime="savedDate"
                v-on:imagechanged="handleImageChange"
                @close="handleCloseEvent"
            ></image-comp>

            <!-- <not-filled v-if="showError"
            ></not-filled> -->
            <div id="more">
                <button id="more">More</button> 
            </div>
        </div>
    </body>
</html>
